{% if authors is defined and authors is not empty %}
    {% set nb=0 %}
    {% for author in authors %}
        {{ author.username | upper }}
        <a href="{{ path('author_details', {'id': author.id}) }}">Details</a>
        <br>
        {% set nb = nb + author.nb_books %}
    {% endfor %}
    <p>Nombre d'auteurs : {{ authors|length }}</p>
    <p>Nombre total de livres : {{ nb }}</p>
{% else %}
    <p>Aucun auteur trouvé</p>
{% endif %}
